**for eda** 
1) paandas : data frame appliction
2) numpy : numerical python all math appliction
3) matplotlib : used for plotting
4) seaborn : used for plot
5) plotly  : use for plot
6) bokhe  : plot

In [ ]:
-main we first four

**machine learning**

1) sickit-learn : sklearn

**deep learning**

tensorflow : google

keras      : google

pytorch    : FaceBook

**nlp**

NLTK  :  Natural langague tool kit

scipy

**Bert**

 transformers : Hugging face(google)

**Google models**

Specific google package

Azure Ml : azure packages

GenAi ,gemiani ,OpenAi,

**Langchai**

LangChain Packages

$step-1$
**Create a dataFrame using List**

In [ ]:
- list == dictionary

- dictionary == list

In [5]:
import pandas as pd
name = ['sahithi','sagar','vasuki']
age = [24,22,23]
form = ['vizag','tirupathi','hyderbad']
pd.DataFrame()
# empty data frame no rows and no colums

Empty DataFrame
Columns: []
Index: []

**providing the data**

In [3]:
pd.DataFrame(name)

         0
0  sahithi
1    sagar
2   vasuki

In [ ]:
# what is first postitional : data

# second postional argument : index

In [6]:
pd.DataFrame(zip(name,age))

         0   1
0  sahithi  24
1    sagar  22
2   vasuki  23

In [8]:
name = ['sahithi','sagar','vasuki']
age = [24,22,23]
form = ['vizag','tirupathi','hyderbad']
data = zip(name,age)
pd.DataFrame(data,form)

                 0   1
vizag      sahithi  24
tirupathi    sagar  22
hyderbad    vasuki  23

In [13]:
name = ['sahithi','sagar','vasuki']
age = [24,22,23]
form = ['vizag','tirupathi','hyderbad']
data = zip(name,age,form)
cols =['name','age','form']
pd.DataFrame(data,columns=cols)

      name  age       form
0  sahithi   24      vizag
1    sagar   22  tirupathi
2   vasuki   23   hyderbad

In [14]:
name = ['sahithi','sagar','vasuki']
age = [24,22,23]
form = ['vizag','tirupathi','hyderbad']
data = zip(name,age,form)
cols =['name','age','form']
df = pd.DataFrame(data,columns=cols)

In [15]:
type(df)

pandas.core.frame.DataFrame

**creating extar add new column**

- if you want to add new column

- first you need to check the number of rows in already existed data

- for example in above in data frame has 3 rows

- you need to create a new list with 3 rows

- that list equate to the data frame

In [16]:
job = ['Fd','Ds','none']
df['JOB']=job
df

      name  age       form   JOB
0  sahithi   24      vizag    Fd
1    sagar   22  tirupathi    Ds
2   vasuki   23   hyderbad  none

**chaning the values**

In [17]:
df['age']=[31,33,45]
df

      name  age       form   JOB
0  sahithi   31      vizag    Fd
1    sagar   33  tirupathi    Ds
2   vasuki   45   hyderbad  none

$step-6$

**Change the index**

In [19]:
name = ['sahithi','sagar','vasuki']
age = [24,22,23]
form = ['vizag','tirupathi','hyderbad']
data = zip(name,age,form)
cols =['name','age','form']
idx =['A','B','v']
df = pd.DataFrame(data,
                  index=idx,
                  columns=cols)
df

      name  age       form
A  sahithi   24      vizag
B    sagar   22  tirupathi
v   vasuki   23   hyderbad

**note**
- num of list = num of columns

- number of values inside list equals to number of rows

- when you create the data all the lists will be in same lenght

$step-7$

**shape**

- number of rows

- number of columns

- it will in matrix format

In [20]:
df.shape

print("the number of rows are:",df.shape[0])
print("the number of columns are:",df.shape[1])

the number of rows are: 3
the number of columns are: 3

$step-8$
**how to drop the column**

- inorder to drop column we required 3 arguments

- column name

   - the coulmn name we need to mention
 
-axis

  - axis=0 **respresent rows**

  - axis=1 **respresent columns**

- inplace

   - we are drop column mean we are modifing the data frame
 
   - so this modificstion we want to save in same var or different var
 
   - if you want to keep in the same var the  **inplace=True**

In [21]:
df

      name  age       form
A  sahithi   24      vizag
B    sagar   22  tirupathi
v   vasuki   23   hyderbad

In [30]:
df1=df.drop('form',axis=1,inplace=True)

KeyError: "['form'] not found in axis"

In [23]:
df

      name  age
A  sahithi   24
B    sagar   22
v   vasuki   23

In [31]:
df1=df.drop('age',axis=1,inplace=True)

KeyError: "['age'] not found in axis"

In [27]:
df

      name
A  sahithi
B    sagar
v   vasuki

In [28]:
df

      name
A  sahithi
B    sagar
v   vasuki

In [32]:
name = ['sahithi','sagar','vasuki']
age = [24,22,23]
form = ['vizag','tirupathi','hyderbad']
data = zip(name,age,form)
cols =['name','age','form']
idx =['A','B','v']
df = pd.DataFrame(data,
                  index=idx,
                  columns=cols)
df

      name  age       form
A  sahithi   24      vizag
B    sagar   22  tirupathi
v   vasuki   23   hyderbad

In [43]:
df.drop('name',axis=1,inplace=True)

KeyError: "['name'] not found in axis"

In [44]:
df

Empty DataFrame
Columns: []
Index: [A, B, v]

In [46]:
name = ['sahithi','sagar','vasuki','ram']
age = [24,22,23,91]
form = ['vizag','tirupathi','hyderbad','blr']
data = zip(name,age,form)
cols =['name','age','form']
idx =['A','B','v','f']
df = pd.DataFrame(data,
                  index=idx,
                  columns=cols)
df

      name  age       form
A  sahithi   24      vizag
B    sagar   22  tirupathi
v   vasuki   23   hyderbad
f      ram   91        blr

In [51]:
df.drop(['age','form'],axis=1,inplace=True)

KeyError: "['age', 'form'] not found in axis"

In [52]:
df

      name
A  sahithi
B    sagar
v   vasuki
f      ram

**delectin rows**

In [54]:
df.drop('A',axis=0,inplace=True)

In [55]:
df

     name
B   sagar
v  vasuki
f     ram

**how to save the data frame**

- generally data frame are two type

- csv (comma seperated value)

- excel

In [61]:
df.to_csv('data.csv')
df.to_csv('data1.csv',index=False)

**excel**

In [63]:
df.to_excel('data.xlsx',index=False)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df_bank = pd.read_csv(r"bank-additional.csv",sep=";")

In [7]:
num= df_bank.select_dtypes(exclude='object').columns

In [4]:
q1 = round(np.percentile(df_bank['age'],25),2)
q2 = round(np.percentile(df_bank['age'],75),2)
IQR = q2-q1
LB  = q1-1.5*IQR
UB  = q2+1.5*IQR
con1 = df_bank['age']<LB
con2 = df_bank['age']>UB
outliers_data= df_bank[con1 | con2]
len(outliers_data)

39

In [6]:
q1 = round(np.percentile(df_bank['campaign'],25),2)
q2 = round(np.percentile(df_bank['campaign'],75),2)
IQR = q2-q1
LB  = q1-1.5*IQR
UB  = q2+1.5*IQR
con1 = df_bank['campaign']<LB
con2 = df_bank['campaign']>UB
outliers_data= df_bank[con1 | con2]
len(outliers_data)

235

In [4]:
for i in range(4):
    if i  %2:
        print(i)

1
3